---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroDestinos from "../../public/images/hero/hero-destinos.webp"
import Hero from '../components/global/Hero.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
import FeatureDestinies from '../components/FeatureDestinies.astro';
import FilterDestinies from '../components/FilterDestinies.astro';
import Newsletter from '../components/Newsletter.astro';
import FloatBtnContact from '../components/FloatBtnContact.astro';
---

<BaseLayout title="CoVacations - Destinos" headerBlackBg={false} headerFixedTop={true}>
	<Hero fullHeight={false} hasSlider={false} hasModal={false} hasCaption={false} hasScroller={false} bgImg={HeroDestinos.src} hasBgGradient={true}>
		<h1 class="hero-title display-4 text-shadow-3 w75">
			Elige el destino, <span class="font-poppins-bold"
				>nosotros nos ocupamos del resto</span>
		</h1>
		<p class="hero-text w50 mt-3 fs-5">
			Explorá todas las opciones y destinos para tu próxima aventura.
		</p>
	</Hero>
	<Breadcrumb/>
	<FeatureDestinies />
	<FilterDestinies />
	<Newsletter/>
	<FloatBtnContact msg="Quiero info sobre los Destinos..."/>
</BaseLayout>
