---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/global/Hero.astro';
---

<Layout title="CoVacations - Propietarios">
	<Hero fullHeight={false} hasSlider={false} hasModal={false} hasCaption={false} hasScroller={false} bgImg="https://images.unsplash.com/photo-1681505504714-4ded1bc247e7?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
		<h1 class="hero-title display-4">
			Impulsá tu <span class="font-poppins-bold"
				>alojamiento</span>
		</h1>
		<p class="hero-text w50 mt-3 fs-5">
			Formá parte de nuestro marketplace que conecta establecimientos y experiencias.
		</p>
	</Hero>
</Layout>
