---
import DestinyLayout from '../../layouts/DestinyLayout.astro';
import Wip from '../../components/Wip.astro';

const dev = true;

import { getCollection } from "astro:content"
import Breadcrumb from '../../components/Breadcrumb.astro';
import DestinyTop from '../../components/DestinyTop.astro';
import DestinyGallery from '../../components/DestinyGallery.astro';
import DestinyBottom from '../../components/DestinyBottom.astro';
import DestinyMap from '../../components/DestinyMap.astro';

export async function getStaticPaths() {
	const destinos = await getCollection('destinos');
	return destinos.map((destino: any) => ({
		params: { id: destino?.data?.slug},
		props: { destino }
	}))
}

const { destino } = Astro.props;
const { data } = destino;
const { title, images, rate, description, location, locationMin, region, chords, contactLinks, bookingLink } = data;

---

<DestinyLayout title={`CoVacations - ${title}`} headerBlackBg={true}>
	{ !dev ?
		<main class="destiny-main">
			<Breadcrumb isDestiny={true} destinyTitle={title}/>
			<DestinyTop 
				title={title} 
				rate={rate} 
				description={description}
				bookingLink={bookingLink}/>
			<DestinyGallery images={images}/>
			<DestinyMap 
				location={location} 
				locationMin={locationMin} 
				region={region}
				chords={chords}/>
			<DestinyBottom contactLinks={contactLinks}/>
		</main>
		: <Wip/> }
</DestinyLayout>

<style>
	main.destiny-main {
		/* header .navbar > min-height: 3rem; */
		padding-top: 3rem;
	}
</style>