---
import Layout from '../../layouts/Layout.astro';
import Wip from '../../components/Wip.astro';

const dev = false;

import { getCollection } from "astro:content"
import Breadcrumb from '../../components/Breadcrumb.astro';
import DestinyTop from '../../components/DestinyTop.astro';
import DestinyGallery from '../../components/DestinyGallery.astro';
import DestinyBottom from '../../components/DestinyBottom.astro';
import DestinyMap from '../../components/DestinyMap.astro';

export async function getStaticPaths() {
	const destinos = await getCollection('destinos');
	return destinos.map((destino: any) => ({
		params: { id: destino?.data?.slug},
		props: { destino }
	}))
}

const { destino } = Astro.props;
const { data } = destino;
const { title, images, rate, description, location, locationMin, region, chords, contactLinks } = data;

---

<Layout title={`CoVacations - ${title}`} headerBlackBg={true} isDestinyPage={true}>
	{ !dev ?
		<main class="destiny-main">
			<Breadcrumb isDestiny={true} destinyTitle={title}/>
			<DestinyTop 
				title={title} 
				rate={rate} 
				description={description}/>
			<DestinyGallery images={images}/>
			<DestinyMap 
				location={location} 
				locationMin={locationMin} 
				region={region}
				chords={chords}/>
			<DestinyBottom contactLinks={contactLinks}/>
		</main>
		: <Wip/> }
</Layout>

<style>
	main.destiny-main {
		padding-top: 112px;
	}
</style>